<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- Favicon. -->
        <link rel="shortcut icon" href="./images/Argentum_ico.ico" type="image/x-icon" />
        <!-- Font Awsome. -->
        <script src="https://kit.fontawesome.com/86685f6cba.js" crossorigin="anonymous"></script>
        <!-- Google Fonts. -->
        <link
            href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap"
            rel="stylesheet"
        />
        <!-- Normalize. -->
        <link rel="stylesheet" type="text/css" href="./css/normalize.css" />
        <link rel="stylesheet" type="text/css" href="./css/style.css" />
        <title>Argentum</title>
    </head>

    <body id="cuerpo">
        <header id="cabecera">
            <nav id="navegacion">
                <div class="container_left">
                    <img src="./images/logo_400x200.jpg" alt="Logo" class="logo" />

                    <img src="./images/Argentum.jpg" alt="Logo" class="logo_mostrar" />
                </div>

                <div class="container_right">
                    <div class="container_top">
                        <form action="#" method="post" class="formulario">
                            <input type="search" name="buscar" placeholder="Buscar" id="buscar" />

                            <div class="container_lupa">
                                <a href="#" class="ancla_lupa">
                                    <i class="fa-solid fa-magnifying-glass"></i>
                                </a>
                            </div>
                        </form>
                    </div>

                    <div class="container_bottom">
                        <ul class="desordenada">
                            <li class="item">
                                <a href="#" class="ancla">Inicio</a>
                            </li>
                            <li class="item">
                                <a href="#" class="ancla">Nosotros</a>
                            </li>
                            <li class="item">
                                <a href="#" class="ancla">Tienda</a>
                            </li>
                            <li class="item">
                                <a href="#" class="ancla">Ayuda</a>
                            </li>
                            <li class="item">
                                <a href="#" class="ancla">
                                    <i class="fa-solid fa-cart-shopping"></i>
                                </a>
                            </li>
                        </ul>

                        <div class="mostrar">
                            <ul class="desordenada_menu">
                                <li class="item">
                                    <a href="#" class="ancla">Menú</a>
                                </li>
                                <li class="item">
                                    <a href="#" class="ancla">
                                        <i class="fa-solid fa-cart-shopping"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
        </header>

        <main id="principal"></main>

        <footer id="pie">
            <div class="container_top_footer">
                <div class="container_footer">
                    <ul class="desordenada_footer">
                        <li class="item_footer">
                            <a href="#" class="ancla">Inicio</a>
                        </li>
                        <li class="item_footer">
                            <a href="#" class="ancla">Nosotros</a>
                        </li>
                        <li class="item_footer">
                            <a href="#" class="ancla">Tienda</a>
                        </li>
                        <li class="item_footer">
                            <a href="#" class="ancla">Ayuda</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="container_bottom_footer">
                <div class="container_copyright">
                    <p class="parrafo blanco copyright">© Argentum</p>
                </div>
            </div>
        </footer>
    </body>
</html>
